* {
	user-select: none;
}

body {
	height: 0;
}

.main {
	margin-top: 5em;
	margin-bottom: 5em;
}

.center {
	justify-content: center;
	padding: 10px;
}

.search .input {
	width: 100%;
}

.item {
	padding: 15px 0 !important;
	font-size: large;
}

i.icon {
	float: right;
	font-size: 23px;
	cursor: pointer;
}

.right {
	float: right !important;
}

.center-div {
	text-align: center;
}

.contacts-list {
	height: 72vh;
	overflow: auto;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5vh;
	background: #6c757d;
	border-radius: 25px 25px 0 0;
}

footer ul {
	display: flex;
	justify-content: space-evenly;
	font-size: larger;
	font-weight: bold;
	padding: 0;
	margin: 10px;
	list-style: none;
}

footer a {
	color: whitesmoke;
}

footer a:hover {
	color: #161b22;
}

footer .icon {
	font-size: 25px;
	margin-left: 7px;
}

@media screen and (max-width: 768px) {
	footer {
		height: 9vh;
	}

	footer ul {
		flex-direction: column;
		align-items: center;
	}

	footer ul li:nth-last-child(1) {
		display: none;
	}

	.contacts-list {
		height: 65vh;
	}
}

.page_404 {
	background: #fff;
	font-family: "Arvo", serif;
}

.background {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 500px;
	background-position: center;
}
